body {
    background-color: white;
    margin-top: 50px;
  }

.centertext {
    text-align: center;
    color: #514d80;
    font-family: 'Open Sans';
    margin: auto;
    width: 90%;
  }

a {
  color: #09d1c7;
}
