body {
    background-color: white;
  }

.centertext {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 90%;
  }

h1 {
    font-size: 80px;
}

a {
  color: red;
}